* {
    padding: 0px;
    margin: 0px;}
  
    .flexcontainer{
    background-image: url(img/Group.svg);
    max-width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}

  .charactersSection{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;}
  
    .header{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .selectOrder{
      display: flex;
      flex-direction: column;
      padding-top: 5%;
      margin-bottom: 2%;
    }

    .select{
      font-size: 3vh;
    }

    select:hover{
      background-color: #C4C4C4;
      cursor: pointer;
    }

    select{
      background-color: rgba(196, 196, 196, 0.7);
      width: 15vw;
      height: 5vh;
      font-size: 2.5vh;
    }

    .charactersTitle{
      display: flex;
      font-size: 10vh;
      margin-left: 12.7vw;
      margin-right: 12.7vw;
      align-items: center;
    }
  
    .search{
      width: 15vw;
      box-sizing: border-box;
      background-image: url('img/searchicon.svg');
      background-position: 5%; 
      background-repeat: no-repeat;
      background-size: 12%;
      padding: 12px 20px 12px 40px;
      background-color: rgba(196, 196, 196, 0.7);
      height: 5vh;
      font-family: 'Roboto', sans-serif;
      border: 1px rgba(196, 196, 196, 0.7);
      border-right: 1px solid #000000;
      font-size: 2.5vh;
    }

    .search:hover{
      cursor: pointer;
      background-color: #C4C4C4;
    }

.right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2%;
}

    .backButtons{
      display: flex;
      flex-direction: column;
      margin-bottom: 3vh;
    }
  
    .Btn{
      display: flex;
      width: 10vw;
      height: 20%;
      text-decoration: none;
      background: #C4C4C4;
      border-bottom: 5px solid #48424d;
      box-shadow: 5px 5px 5px #999;
      color: #000000;
      cursor: pointer; 
      font-family: 'Raleway', Arial, Helvetica;
      font-size: 1.5vw;
      padding: 1%;
      text-align: center;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease 0s;}

      .Btn:hover{
      background: rgb(221, 219, 219);}

      .Btn:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #fff;
      border-bottom:1px solid #9b979c;
      text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
      transform: translateY(4px);
      transition: all 0.1s ease 0s;
      color:#ffffff;
      }
  
  
    .aside{
      display: flex;
      flex-direction: row;
      justify-content: center;
      }
  
    .filters{
      background: rgba(196, 196, 196, 0.7);
      border-top: 1px solid #000000;
      padding: 2% 2% 2% 2%;
      width: 15%;
      color: #000000;
      display: flex;
      flex-direction: column;
    }
  
    .filtersTitle{
      align-self: center;
      font-weight: 1000;
    }

    .box{
      width: 60%;
      height: 70vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .box{
      overflow-y: scroll;
    }
  
    .cell{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 47.7%;
    height: 20%;
    background: rgba(196, 196, 196, 0.7);
    border: 1px solid #000000;
    }

    .cell:hover{
      cursor: pointer;
      background-color: #C4C4C4;
    }

  
    .image{
   width: 5vw;
   height: 10vh;
   margin-right: 4%;
   border: 1px solid #000000;
    }

    input[type=checkbox] + label{
      display: block;
      margin: 0.2em
    }
  
    input[type=checkbox]{
      display: none;
    }
   
    input[type=checkbox] + label:before{
      content: "\2714";
      border: 0.1em solid #000;
      border-radius: 0,2 em;
      display: inline-block;
      width: 1em;
      height: 1em;
      padding-left: 0.2em;
      padding-bottom: 0.3em;
      margin-right: 0.2em;
      vertical-align: bottom;
      color: transparent;
      background: #ffffff;
    }

    input[type=checkbox]:checked + label:before{
      background-color: #000000;
      color: #ffffff;
 }

 input[type=checkbox] + label:hover{
   cursor: pointer;
   font-weight: 1000;
 }

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #C4C4C4;
  color: #000;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 50px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

    /* //responsive// */

    @media only screen and (max-width: 768px) {
      .box{
        width: 80%;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
        .filters{
          width: 30%;
          color: #000000;
          display: flex;
          flex-direction: column;
          font-size: 2vh;
          justify-content: flex-start;
          margin-left: 3.5%;
        }
        .charactersTitle{
          display: flex;
          font-size: 3vh;
          margin-left: 2vw;
          margin-right: 2vw;
          align-items: center;
        }
        .cell{
          color: #000000;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 2.5vh;
          display: flex;
          align-items: center;
          padding-left: 0.5%;
          width: 95%;
          height: 20%;
          background: rgba(196, 196, 196, 0.7);
          border: 1px solid #000000;
          }
          .image{
            width: 22%;
            height: 75%;
            margin-right: 2%;
            margin-left: 2%;
            border: 1px solid #000000;
             }
    
    
         .header{
          display: flex;
          justify-content: center;
        }
    
        .select{
          font-size: 2vh;
        }
        select{
          font-size: 1.5vh;
        }
        select{ 
          width: 30vw;
          height: 3vh;
          font-size: 2vh;
        }
    
        .search{
          width: 30vw;
          background-position: 5%; 
          background-size: 10%;
          height: 3vh;
          font-size: 2vh;
        }
        .Btn{
          display: flex;
          width: 20vw;
          height: 2.5vh;
          color: #000000;
          font-size: 2vh;
          padding: 1%;
          text-align: center;
          justify-content: center;
          align-items: center;
            }
    
            .backButtons{
              display: flex;
              flex-direction: column;
              margin-top: 4vh;
            }
        .selectOrder{
          margin-top: 7.7vh;
        }
    
    
     }

    @media only screen and (max-width: 414px) {
      .box{
        width: 80%;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        }
        .filters{
          width: 30%;
          color: #000000;
          display: flex;
          flex-direction: column;
          font-size: 2vh;
          justify-content: flex-start;
          margin-left: 3.5%;
        }
        .charactersTitle{
          display: flex;
          font-size: 3vh;
          margin-left: 2vw;
          margin-right: 2vw;
          align-items: center;
        }
        .cell{
          color: #000000;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 2.5vh;
          display: flex;
          align-items: center;
          padding-left: 0.5%;
          width: 95%;
          height: 20%;
          background: rgba(196, 196, 196, 0.7);
          border: 1px solid #000000;
          }
          .image{
            width: 30%;
            height: 80%;
            margin-right: 2%;
            margin-left: 2%;
            border: 1px solid #000000;
             }
   

         .header{
          display: flex;
          justify-content: center;
        }

        .select{
          font-size: 2vh;
        }
        select{
          font-size: 1.5vh;
        }
        select{ 
          width: 30vw;
          height: 3vh;
          font-size: 2vh;
        }

        .search{
          width: 30vw;
          background-position: 5%; 
          background-size: 10%;
          height: 3vh;
          font-size: 2vh;
        }
        .Btn{
          display: flex;
          width: 20vw;
          height: 2vh;
          color: #000000;
          font-size: 2vh;
          padding: 1%;
          text-align: center;
          justify-content: center;
          align-items: center;
            }

            .backButtons{
              display: flex;
              flex-direction: column;
              margin-top: 4vh;
            }
        .selectOrder{
          margin-top: 7.7vh;
        }
 }
  
 